@import "../../themes/ionic.globals";

// Modals
// --------------------------------------------------

/// @prop - Min width of the modal inset
$modal-inset-min-width:         768px !default;

/// @prop - Minimum height of the small modal inset
$modal-inset-min-height-small:  600px !default;

/// @prop - Minimum height of the large modal inset
$modal-inset-min-height-large:  768px !default;

/// @prop - Width of the large modal inset
$modal-inset-width:             600px !default;

/// @prop - Height of the small modal inset
$modal-inset-height-small:      500px !default;

/// @prop - Height of the large modal inset
$modal-inset-height-large:      600px !default;


.ion-modal {
  @include position(0, null, null, 0);

  position: absolute;

  display: block;

  width: 100%;
  height: 100%;

  contain: strict;
}

.ion-modal .ion-backdrop {
  @media not all and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-small) {
    visibility: hidden;
  }
}

.modal-wrapper {
  z-index: 10;

  height: 100%;

  contain: strict;

  @media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-small) {
    @include position(calc(50% - (#{$modal-inset-height-small}/2)), null, null, calc(50% - (#{$modal-inset-width}/2)));

    position: absolute;

    width: $modal-inset-width;
    height: $modal-inset-height-small;
  }

  @media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-large) {
    @include position(calc(50% - (#{$modal-inset-height-large}/2)), null, null, calc(50% - (#{$modal-inset-width}/2)));

    position: absolute;

    width: $modal-inset-width;
    height: $modal-inset-height-large;
  }
}


// transition 'fadeup'
.modal-fadeup-enter-active {
  transition: transform .4s cubic-bezier(.36, .66, .04, 1);
  transform: translate3d(0, 0, 0);
  //transition: opacity .4s ease-in-out;
}

.modal-fadeup-leave-active {
  transition: transform .3s cubic-bezier(.36, .66, .04, 1);
  transform: translate3d(0, 100%, 0);
}

.modal-fadeup-enter, .modal-fadeup-leave-to {
  transform: translate3d(0, 100%, 0);
}

// transition 'modal-zoom'
.modal-zoom-enter-active, .modal-zoom-leave-active {
  transform: scale(1);
  opacity: 1;
}
.modal-zoom-enter, .modal-zoom-leave-active {
  transform: scale(0.9);
  opacity: 0.01;
}
// transition 'modal-fade'
.modal-fade-enter-active, .modal-fade-leave-active {
  opacity: 1;
}
.modal-fade-enter, .modal-fade-leave-active {
  opacity: 0.01;
}
// transition 'modal-fade-right'
.modal-fade-right-enter-active, .modal-fade-right-leave-active {
  transform: translateX(0);
  opacity: 1;
}
.modal-fade-right-enter, .modal-fade-right-leave-active {
  transform: translateX(40px);
  opacity: 0;
}

