@import "../../themes/ionic.globals.wp";

// Windows Modals
// --------------------------------------------------

/// @prop - Background color for the modal
$modal-wp-background-color:          $background-wp-color !default;

.wp .modal-wrapper {
  @include transform(translate3d(0, 0, 0));

  opacity: 1;
}



// transition 'fadeup'
.wp .modal-fadeup-enter-active {
  transition: transform .4s cubic-bezier(.36, .66, .04, 1);
  transform: translateY(0);
  opacity: 1;
}

.wp .modal-fadeup-leave-active {
  transition: transform .2s cubic-bezier(0.47,0,0.745,0.715);
  transform: translateY(0);
  opacity: 0.99;
}

.wp .modal-fadeup-enter, .wp .modal-fadeup-leave-to {
  transform: translateY(40px);
  opacity: 0;
}
