.cells {
  margin: 0;
  position: relative;
  background-color: #FFF;
  .row {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    .col {
      flex: 1;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
    }
  }
}
