//
// Push styles (to be used with push.js)
// --------------------------------------------------

.content {
  // Fade animation
  &.fade {
    left: 0;
    opacity: 0;
    @include transition(opacity .4s);

    &.in {
      opacity: 1;
    }
  }

  // Slide animation
  &.sliding {
    z-index: 2;
    -webkit-transition: -webkit-transform .4s;
       -moz-transition: -moz-transform .4s;
            transition: transform .4s;
    @include transform(translate3d(0, 0, 0));

    &.left {
      z-index: 1;
      @include transform(translate3d(-100%, 0, 0));
    }

    &.right {
      z-index: 3;
      @include transform(translate3d(100%, 0, 0));
    }
  }
}

// Add chevrons to elements
.navigate-left,
.navigate-right,
.push-left,
.push-right {
  &:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #bbb;
    border-style: solid;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 15px;
  }
}
.navigate-left:after,
.push-left:after {
  left: 15px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.navigate-right:after,
.push-right:after{
  right: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
