@import "../../themes/ionic.globals.wp";

// Windows Picker
// --------------------------------------------------

/// @prop - Height of the popup wrapper
$popup-wp-height:                            260px !default;

/// @prop - Border color of the popup wrapper
$popup-wp-border-color:                      $list-wp-border-color !default;

/// @prop - Background of the popup wrapper
$popup-wp-background-color:                  $list-wp-background-color !default;

/// @prop - Height of the popup toolbar
$popup-wp-toolbar-height:                    44px !default;

/// @prop - Background of the popup toolbar
$popup-wp-toolbar-background-color:          $popup-wp-background-color !default;

/// @prop - Height of the popup button
$popup-wp-button-height:                     $popup-wp-toolbar-height !default;

/// @prop - Text color of the popup button
$popup-wp-button-text-color:                 color($colors-wp, primary) !default;

/// @prop - Background of the popup button
$popup-wp-button-background-color:           transparent !default;

// deprecated
$popup-wp-column-padding:                    null !default;

/// @prop - Padding top of the popup column
$popup-wp-column-padding-top:                0 !default;

/// @prop - Padding end of the popup column
$popup-wp-column-padding-end:                4px !default;

/// @prop - Padding bottom of the popup column
$popup-wp-column-padding-bottom:             $popup-wp-column-padding-top !default;

/// @prop - Padding start of the popup column
$popup-wp-column-padding-start:              $popup-wp-column-padding-end !default;

// deprecated
$popup-wp-option-padding:                    null !default;

/// @prop - Padding top of the popup option
$popup-wp-option-padding-top:                0 !default;

/// @prop - Padding end of the popup option
$popup-wp-option-padding-end:                $popup-wp-option-padding-top !default;

/// @prop - Padding bottom of the popup option
$popup-wp-option-padding-bottom:             $popup-wp-option-padding-top !default;

/// @prop - Padding start of the popup option
$popup-wp-option-padding-start:              $popup-wp-option-padding-end !default;

/// @prop - Text color of the popup option
$popup-wp-option-text-color:                 $list-wp-text-color !default;

/// @prop - Font size of the popup option
$popup-wp-option-font-size:                  22px !default;

/// @prop - Height of the popup option
$popup-wp-option-height:                     42px !default;

/// @prop - Offset y of the popup option
$popup-wp-option-offset-y:                   (($popup-wp-height - $popup-wp-toolbar-height) / 2) - ($popup-wp-option-height / 2) - 10 !default;

/// @prop - Text color of the selected popup option
$popup-wp-option-selected-color:             color($colors-wp, primary) !default;


.popup-wp .popup-wrapper {
  height: $popup-wp-height;

  border-top: $hairlines-width solid $popup-wp-border-color;

  background: $popup-wp-background-color;
}

.popup-wp .popup-toolbar {
  display: flex;

  justify-content: flex-end;

  height: $popup-wp-toolbar-height;

  border-width: $hairlines-width;

  background: $popup-wp-toolbar-background-color;
}

.popup-wp .popup-toolbar-button {
  @include text-align(end);

  flex: 1;
}

.popup-wp .popup-toolbar-cancel {
  @include text-align(start);

  font-weight: normal;
}

.popup-wp .popup-button,
.popup-wp .popup-button.activated {
  @include margin(0);

  height: $popup-wp-button-height;

  color: $popup-wp-button-text-color;
  background: $popup-wp-button-background-color;

  box-shadow: none;
}

.popup-wp .popup-columns {
  height: $popup-wp-height - $popup-wp-toolbar-height;

  perspective: 1800px;
}

.popup-wp .popup-col {
  transform-style: preserve-3d;

  @include deprecated-variable(padding, $popup-wp-column-padding) {
    @include padding($popup-wp-column-padding-top, $popup-wp-column-padding-end, $popup-wp-column-padding-bottom, $popup-wp-column-padding-start);
  }
}

.popup-wp .popup-prefix,
.popup-wp .popup-suffix,
.popup-wp .popup-opts {
  top: $popup-wp-option-offset-y;

  font-size: $popup-wp-option-font-size;
  line-height: $popup-wp-option-height;
  color: $popup-wp-option-text-color;

  transform-style: preserve-3d;

  pointer-events: none;
}

.popup-wp .popup-opt {
  @include margin(0);

  height: 4.2rem;

  font-size: $popup-wp-option-font-size;
  line-height: $popup-wp-option-height;
  color: $popup-wp-option-text-color;

  background: transparent;

  transition-timing-function: ease-out;

  backface-visibility: hidden;

  pointer-events: auto;

  @include deprecated-variable(padding, $popup-wp-option-padding) {
    @include padding($popup-wp-option-padding-top, $popup-wp-option-padding-end, $popup-wp-option-padding-bottom, $popup-wp-option-padding-start);
  }
}

.popup-wp .popup-prefix,
.popup-wp .popup-suffix,
.popup-wp .popup-opt-selected {
  color: $popup-wp-option-selected-color;
}

.popup-wp .popup-above-highlight {
  @include position(0, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;

  z-index: 10;

  width: 100%;
  height: $popup-wp-option-offset-y + 4px;

  border-bottom: 1px solid $popup-wp-border-color;

  background: linear-gradient(to bottom,
                            rgba($popup-wp-background-color, 1) 20%,
                            rgba($popup-wp-background-color, .7) 100%);
}

.popup-wp .popup-below-highlight {
  @include position($popup-wp-option-offset-y + $popup-wp-option-height - 4, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;

  z-index: 11;

  width: 100%;
  height: $popup-wp-option-offset-y + $popup-wp-option-height;

  border-top: 1px solid $popup-wp-border-color;

  background: linear-gradient(to top,
                           rgba($popup-wp-background-color, 1) 30%,
                           rgba($popup-wp-background-color, .7) 100%);
}
