@import "../../themes/ionic.globals.ios";

// iOS Picker
// --------------------------------------------------

/// @prop - Height of the popup wrapper
$popup-ios-height:                            260px !default;

/// @prop - Border color of the popup wrapper
$popup-ios-border-color:                      $list-ios-border-color !default;

/// @prop - Background of the popup wrapper
$popup-ios-background-color:                  $list-ios-background-color !default;

/// @prop - Height of the popup toolbar
$popup-ios-toolbar-height:                    44px !default;

/// @prop - Background color of the popup toolbar
$popup-ios-toolbar-background-color:          $popup-ios-background-color !default;

/// @prop - Height of the popup button
$popup-ios-button-height:                     $popup-ios-toolbar-height !default;

/// @prop - Text color of the popup button
$popup-ios-button-text-color:                 color($colors-ios, primary) !default;

/// @prop - Background of the popup button
$popup-ios-button-background-color:           transparent !default;

// deprecated
$popup-ios-column-padding:                    null !default;

/// @prop - Padding top of the popup column
$popup-ios-column-padding-top:                0 !default;

/// @prop - Padding end of the popup column
$popup-ios-column-padding-end:                4px !default;

/// @prop - Padding bottom of the popup column
$popup-ios-column-padding-bottom:             $popup-ios-column-padding-top !default;

/// @prop - Padding start of the popup column
$popup-ios-column-padding-start:              $popup-ios-column-padding-end !default;

/// @prop - Perspective of the popup column
$popup-ios-column-perspective:                1000px !default;

// deprecated
$popup-ios-option-padding:                    null !default;

/// @prop - Padding top of the popup option
$popup-ios-option-padding-top:                0 !default;

/// @prop - Padding end of the popup option
$popup-ios-option-padding-end:                $popup-ios-option-padding-top !default;

/// @prop - Padding bottom of the popup option
$popup-ios-option-padding-bottom:             $popup-ios-option-padding-top !default;

/// @prop - Padding start of the popup option
$popup-ios-option-padding-start:              $popup-ios-option-padding-end !default;

/// @prop - Text color of the popup option
$popup-ios-option-text-color:                 $list-ios-text-color !default;

/// @prop - Font size of the popup option
$popup-ios-option-font-size:                  20px !default;

/// @prop - Height of the popup option
$popup-ios-option-height:                     42px !default;

/// @prop - Offset y of the popup option
$popup-ios-option-offset-y:                   (($popup-ios-height - $popup-ios-toolbar-height) / 2) - ($popup-ios-option-height / 2) - 10 !default;

$popup-button-ios-strong-font-weight:         600 !default;

.popup-ios .popup-wrapper {
  height: $popup-ios-height;

  border-top: 1px solid $popup-ios-border-color;

  background: $popup-ios-background-color;
}

.popup-ios .popup-toolbar {
  display: flex;

  height: $popup-ios-toolbar-height;

  border-bottom: $hairlines-width solid $popup-ios-border-color;

  background: $popup-ios-toolbar-background-color;
}

.popup-ios .popup-toolbar-button {
  @include text-align(end);

  flex: 1;
}

.popup-ios .popup-toolbar-button:last-child .popup-button {
  font-weight: $popup-button-ios-strong-font-weight;
}

.popup-ios .popup-toolbar-cancel {
  @include text-align(start);

  font-weight: normal;
}

.popup-ios .popup-button,
.popup-ios .popup-button.activated {
  @include margin(0);

  height: $popup-ios-button-height;

  color: $popup-ios-button-text-color;
  background: $popup-ios-button-background-color;
}

.popup-columns {
  height: $popup-ios-height - $popup-ios-toolbar-height - 1;

  perspective: $popup-ios-column-perspective;
}

.popup-ios .popup-col {
  transform-style: preserve-3d;

  @include deprecated-variable(padding, $popup-ios-column-padding) {
    @include padding($popup-ios-column-padding-top, $popup-ios-column-padding-end, $popup-ios-column-padding-bottom, $popup-ios-column-padding-start);
  }
}

.popup-ios .popup-prefix,
.popup-ios .popup-suffix,
.popup-ios .popup-opts {
  top: $popup-ios-option-offset-y;

  font-size: $popup-ios-option-font-size;
  line-height: $popup-ios-option-height;
  color: $popup-ios-option-text-color;

  transform-style: preserve-3d;

  pointer-events: none;
}

.popup-ios .popup-opt {
  @include margin(0);
  @include transform-origin(center, center);

  height: 4.6rem;

  font-size: $popup-ios-option-font-size;
  line-height: $popup-ios-option-height;
  color: $popup-ios-option-text-color;

  background: transparent;
  transform-style: preserve-3d;
  transition-timing-function: ease-out;

  backface-visibility: hidden;

  pointer-events: auto;

  @include deprecated-variable(padding, $popup-ios-option-padding) {
    @include padding($popup-ios-option-padding-top, $popup-ios-option-padding-end, $popup-ios-option-padding-bottom, $popup-ios-option-padding-start);
  }
}

.popup-ios .popup-above-highlight {
  @include position(0, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;
  z-index: 10;
  display: block;

  width: 100%;
  height: $popup-ios-option-offset-y + 4px;

  border-bottom: 1px solid $popup-ios-border-color;

  background: linear-gradient(to bottom,
                            rgba($popup-ios-background-color, 1) 20%,
                            rgba($popup-ios-background-color, .7) 100%);
}

.popup-ios .popup-below-highlight {
  @include position($popup-ios-option-offset-y + $popup-ios-option-height - 4, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;

  z-index: 11;
  display: block;

  width: 100%;
  height: $popup-ios-option-offset-y + $popup-ios-option-height;

  border-top: 1px solid $popup-ios-border-color;

  background: linear-gradient(to top,
                           rgba($popup-ios-background-color, 1) 30%,
                           rgba($popup-ios-background-color, .7) 100%);
}
