@import "../../themes/ionic.globals.md";

// Material Design Picker
// --------------------------------------------------

/// @prop - Height of the popup wrapper
$popup-md-height:                            260px !default;

/// @prop - Border color of the popup wrapper
$popup-md-border-color:                      $list-md-border-color !default;

/// @prop - Background of the popup wrapper
$popup-md-background-color:                  $list-md-background-color !default;

/// @prop - Height of the popup toolbar
$popup-md-toolbar-height:                    44px !default;

/// @prop - Background of the popup toolbar
$popup-md-toolbar-background-color:          $popup-md-background-color !default;

/// @prop - Height of the popup button
$popup-md-button-height:                     $popup-md-toolbar-height !default;

/// @prop - Text color of the popup button
$popup-md-button-text-color:                 color($colors-md, primary) !default;

/// @prop - Background of the popup button
$popup-md-button-background-color:           transparent !default;

// deprecated
$popup-md-column-padding:                    null !default;

/// @prop - Padding top of the popup column
$popup-md-column-padding-top:                0 !default;

/// @prop - Padding end of the popup column
$popup-md-column-padding-end:                8px !default;

/// @prop - Padding bottom of the popup column
$popup-md-column-padding-bottom:             $popup-md-column-padding-top !default;

/// @prop - Padding start of the popup column
$popup-md-column-padding-start:              $popup-md-column-padding-end !default;

// deprecated
$popup-md-option-padding:                    null !default;

/// @prop - Padding top of the popup option
$popup-md-option-padding-top:                0 !default;

/// @prop - Padding end of the popup option
$popup-md-option-padding-end:                $popup-md-option-padding-top !default;

/// @prop - Padding bottom of the popup option
$popup-md-option-padding-bottom:             $popup-md-option-padding-top !default;

/// @prop - Padding start of the popup option
$popup-md-option-padding-start:              $popup-md-option-padding-end !default;

/// @prop - Text color of the popup option
$popup-md-option-text-color:                 $list-md-text-color !default;

/// @prop - Font size of the popup option
$popup-md-option-font-size:                  22px !default;

/// @prop - Height of the popup option
$popup-md-option-height:                     42px !default;

/// @prop - Offset y of the popup option
$popup-md-option-offset-y:                   (($popup-md-height - $popup-md-toolbar-height) / 2) - ($popup-md-option-height / 2) - 10 !default;

/// @prop - Text color of the selected popup option
$popup-md-option-selected-color:             color($colors-md, primary) !default;


.popup-md .popup-wrapper {
  height: $popup-md-height;

  border-top: $hairlines-width solid $popup-md-border-color;

  background: $popup-md-background-color;
}

.popup-md .popup-toolbar {
  display: flex;

  justify-content: flex-end;

  height: $popup-md-toolbar-height;

  background: $popup-md-toolbar-background-color;
}

.popup-md .popup-button,
.popup-md .popup-button:active {
  @include margin(0);

  height: $popup-md-button-height;

  color: $popup-md-button-text-color;
  background: $popup-md-button-background-color;

  box-shadow: none;
}

.popup-md .popup-columns {
  height: $popup-md-height - $popup-md-toolbar-height;

  perspective: 1800px;
}

.popup-md .popup-col {
  transform-style: preserve-3d;

  @include deprecated-variable(padding, $popup-md-column-padding) {
    @include padding($popup-md-column-padding-top, $popup-md-column-padding-end, $popup-md-column-padding-bottom, $popup-md-column-padding-start);
  }
}

.popup-md .popup-prefix,
.popup-md .popup-suffix,
.popup-md .popup-opts {
  top: $popup-md-option-offset-y;

  font-size: $popup-md-option-font-size;
  line-height: $popup-md-option-height;
  color: $popup-md-option-text-color;

  transform-style: preserve-3d;

  pointer-events: none;
}


.popup-md .popup-opt {
  @include margin(0);

  height: 4.3rem;

  font-size: $popup-md-option-font-size;
  line-height: $popup-md-option-height;
  color: $popup-md-option-text-color;

  background: transparent;

  transition-timing-function: ease-out;

  backface-visibility: hidden;

  pointer-events: auto;

  @include deprecated-variable(padding, $popup-md-option-padding) {
    @include padding($popup-md-option-padding-top, $popup-md-option-padding-end, $popup-md-option-padding-bottom, $popup-md-option-padding-start);
  }
}

.popup-md .popup-prefix,
.popup-md .popup-suffix,
.popup-md .popup-opt.popup-opt-selected {

  color: $popup-md-option-selected-color;
}

.popup-md .popup-above-highlight {
  @include position(0, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;
  z-index: 10;

  width: 100%;
  height: $popup-md-option-offset-y + 4px;

  border-bottom: 1px solid $popup-md-border-color;

  background: linear-gradient(to bottom,
                            rgba($popup-md-background-color, 1) 20%,
                            rgba($popup-md-background-color, .7) 100%);
}

.popup-md .popup-below-highlight {
  @include position($popup-md-option-offset-y + $popup-md-option-height - 4, null, null, 0);
  @include transform(translate3d(0, 0, 90px));

  position: absolute;
  z-index: 11;

  width: 100%;
  height: $popup-md-option-offset-y + $popup-md-option-height;

  border-top: 1px solid $popup-md-border-color;

  background: linear-gradient(to top,
                           rgba($popup-md-background-color, 1) 30%,
                           rgba($popup-md-background-color, .7) 100%);
}
