@import "../../themes/ionic.globals.wp";

// Windows App
// --------------------------------------------------

.ion-app.wp {
  font-family: $font-family-wp-base;
  font-size: $font-size-wp-base;
  background-color: $background-wp-color;
}


.ion-app.wp .page-leave-active {
  transition-duration: 120ms;
  transition-timing-function: cubic-bezier(0.47,0,0.745,0.715);
}

.ion-app.wp .page-enter-active {
  transition-duration: 280ms;
  transition-timing-function: cubic-bezier(0,0,0.05,1);
}

.ion-app.wp[transition-direction="forward"] {
  .page-enter {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
  }
  .page-enter-active {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
  }
  .page-enter-to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
  }
  .page-leave {
    transform: translate3d(0, 0, 0);
    opacity: 0.01;
    z-index: 1;
  }
  .page-leave-to {
    transform: scale(0.95);
    opacity: 0;
    z-index: 1;
  }
}

.ion-app.wp[transition-direction="back"] {
  .page-enter {
    transform: scale(0.95);
    opacity: 0.01;
    z-index: 1;
  }
  .page-enter-to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 1;
  }
  .page-leave {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
  }
  .page-leave-active {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
  }
  .page-leave-to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
  }
}
