// transition fadeup
.alert-fade-enter-active {
  transition: transform .4s ease-in-out;
  transition: opacity .35s ease-in-out;
  transform: scale(1);
  opacity: 1;
}

.alert-fade-leave-active {
  transition: transform .35s  ease-in-out;
  opacity: 0;
}

.alert-fade-enter, .alert-fade-leave-to {
  transform: scale(0.9);
  opacity: 0;
}
