
// transition
.ion-app.ios .page-enter-active, .ion-app.ios .page-leave-active {
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(.36, .66, .04, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
}

.ion-app.ios[transition-direction="forward"] {
  .page-enter {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
    z-index: 2;
  }
  .page-enter-active {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
  }
  .page-enter-to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
  }
  .page-leave {
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    z-index: 1;
  }
  .page-leave-to {
    transform: translate3d(-33%, 0, 0);
    opacity: 0;
    z-index: 1;
  }
}

.ion-app.ios[transition-direction="back"] {
  .page-enter {
    transform: translate3d(-33%, 0, 0);
    opacity: 0.8;
    z-index: 1;
  }
  .page-enter-to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 1;
  }
  .page-leave {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
  }
  .page-leave-active {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
  }
  .page-leave-to {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
    z-index: 2;
  }
}


//
//.ion-app.md .page-leave-active {
//  transition-duration: 200ms;
//  transition-timing-function: cubic-bezier(0.47,0,0.745,0.715);
//}
//
//.ion-app.md .page-enter-active {
//  transition-duration: 280ms;
//  transition-timing-function: cubic-bezier(0.36,0.66,0.04,1);
//}


.ion-app.md[transition-direction="forward"] {
  //.page-enter {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}
  //.page-enter-active {
  //  box-shadow: 0 0 10px rgba(0,0,0,.15);
  //}
  //.page-enter-to {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}
  //.page-leave {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 0.01;
  //  z-index: 1;
  //}
  //.page-leave-to {
  //  transform: translate3d(0, -40px, 0);
  //  opacity: 0;
  //  z-index: 1;
  //}


  .page-enter {
    transform: scale(.95);
    opacity: 0.01 !important;
  }

  .page-enter-active {
    transform-origin: center center;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  }

  .page-leave-active {
    transform-origin: center center;
    transition-duration: 500ms;
  }
}

.ion-app.md[transition-direction="back"] {
  //.page-enter {
  //  transform: translate3d(0, -40px, 0);
  //  opacity: 0.01;
  //  z-index: 1;
  //}
  //.page-enter-to {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 1;
  //}
  //.page-leave {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}
  //.page-leave-active {
  //  box-shadow: 0 0 10px rgba(0,0,0,.15);
  //}
  //.page-leave-to {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}

  .page-enter {}

  .page-enter-active {
    transform-origin: center center;
    transition-duration: 500ms;
  }

  // 退出的页面
  .page-leave-active {
    transform: scale(.95);
    opacity: 0.01 !important;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform-origin: center center;
  }
}


// fade-transition Transition(forward)
// --------------------------------------------------

.fade-transition-forward-enter {
  opacity: 0.01 !important;
}

.fade-transition-forward-enter-active {
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transform-origin: center center;
}

.fade-transition-forward-leave-active {
  transition-duration: 500ms;
  transform-origin: center center;
}

// fade-transition Transition(backward)
// --------------------------------------------------

.fade-transition-backward-enter-active {
  transition-duration: 500ms;
  transform-origin: center center;
}

.fade-transition-backward-leave-active {
  opacity: 0.01 !important;
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transform-origin: center center;
}




// fade-right-transition Transition(forward)
// --------------------------------------------------

.fade-right-transition-forward-enter {
  position: absolute !important;
  opacity: 0 !important;
  transform: translateX(40px);
}

.fade-right-transition-forward-enter-active {
  position: absolute !important;
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
}

.fade-right-transition-forward-leave-active {
  position: absolute !important;
  transition-duration: 500ms;
}

// fade-right-transition Transition(backward)
// --------------------------------------------------

.fade-right-transition-backward-enter {
  position: absolute !important;
}

.fade-right-transition-backward-enter-active {
  position: absolute !important;
  transition-duration: 500ms;
}

.fade-right-transition-backward-leave-active {
  position: absolute !important;
  opacity: 0 !important;
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transform: translateX(40px);
}




// fade-bottom-transition Transition(forward)
// --------------------------------------------------

.fade-bottom-transition-forward-enter {
  opacity: 0.01 !important;
  transform: translateY(40px);
}

.fade-bottom-transition-forward-enter-active {
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
}

.fade-bottom-transition-forward-leave-active {
  transition-duration: 500ms;
}

// fade-bottom-transition Transition(backward)
// --------------------------------------------------

.fade-bottom-transition-backward-enter-active {
  transition-duration: 500ms;
}

.fade-bottom-transition-backward-leave-active {
  opacity: 0.01 !important;
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transform: translateY(40px);
}



// transitioName = 'fade-dup'
.fade-up-enter-active {
  transition: transform .4s cubic-bezier(.36, .66, .04, 1);
  transform: translate3d(0, 0, 0);
}
.fade-up-leave-active {
  transition: transform .3s cubic-bezier(.36, .66, .04, 1);
  transform: translate3d(0, 100%, 0);
}

.fade-up-enter, .fade-up-leave-to {
  transform: translate3d(0, 100%, 0);
}


// zoom-transition Transition(forward)
// --------------------------------------------------

// 进入的页面
.zoom-transition-forward-enter {
  opacity: 0.01 !important;
  transform: scale(0.95);
}

.zoom-transition-forward-enter-active {
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transform-origin: center center;
}

// 退出的页面
.zoom-transition-forward-leave-active {
  transition-duration: 500ms;
  transform-origin: center center;
}

// zoom-transition Transition(backward)
// --------------------------------------------------

// 进入的页面
.zoom-transition-backward-enter {
}

.zoom-transition-backward-enter-active {
  transition-duration: 500ms;
  transform-origin: center center;
}

// 退出的页面
.zoom-transition-backward-leave-active {
  opacity: 0.01 !important;
  transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  transform: scale(0.95);
  transform-origin: center center;
}