
// transition
.backdrop-fade-enter-active {
  transition: opacity .35s
}

.backdrop-fade-leave-active {
  transition: opacity .35s
}

.backdrop-fade-enter, .backdrop-fade-leave-to {
  opacity: 0.01;
}
