
// transition
.ion-backdrop-fade-enter-active {
  transition: opacity .35s
}

.ion-backdrop-fade-leave-active {
  transition: opacity .35s
}

.ion-backdrop-fade-enter, .ion-backdrop-fade-leave-to {
  opacity: 0.01;
}
