// transition fadeup
.ion-picker-fadeup-enter-active {
  transition: transform .45s cubic-bezier(.36, .66, .04, 1);
  transform: translateY(0);
}

.ion-picker-fadeup-leave-active {
  transition: transform .4s cubic-bezier(.36, .66, .04, 1);
  transform: translateY(100%);
}

.ion-picker-fadeup-enter, .ion-picker-fadeup-leave-to {
  transform: translateY(100%);
}