
// transition fadeup
.popover-fade-enter-active, .popover-fade-leave-active {
  transition: opacity .15s ease;
  opacity: 1;
}

.popover-fade-enter, .popover-fade-leave-to {
  opacity: 0;
  transition: opacity ease .15s;
}
