@import "variables";

.badge {
  padding: 3px 8px;
  min-width: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block
}

.theme-ios {
  .badge {
    border-radius: 10px
  }

  .badge, .badge-primary {
    background-color: #488aff;
    color: #fff
  }

  .badge-secondary {
    color: #fff;
    background-color: #32db64
  }

  .badge-danger {
    color: #fff;
    background-color: #f53d3d
  }

  .badge-light {
    color: #000;
    background-color: #f4f4f4
  }

  .badge-dark {
    color: #fff;
    background-color: #222
  }

  .badge-energized {
    color: #000;
    background-color: #ffc527
  }

  .badge-royal {
    color: #fff;
    background-color: #7e60ff
  }

  .badge-subtle {
    color: #fff;
    background-color: #444
  }

  .badge-vibrant {
    color: #fff;
    background-color: #663399
  }

  .badge-bright {
    color: #000;
    background-color: #ffc125
  }
}

.theme-md {

  .badge, .badge-primary {
    background-color: #488aff;
    color: #fff
  }

  .badge {
    border-radius: 4px
  }

  .badge-secondary {
    color: #fff;
    background-color: #32db64
  }

  .badge-danger {
    color: #fff;
    background-color: #f53d3d
  }

  .badge-light {
    color: #000;
    background-color: #f4f4f4
  }

  .badge-dark {
    color: #fff;
    background-color: #222
  }

  .badge-energized {
    color: #000;
    background-color: #ffc527
  }

  .badge-royal {
    color: #fff;
    background-color: #7e60ff
  }

  .badge-subtle {
    color: #fff;
    background-color: #444
  }

  .badge-vibrant {
    color: #fff;
    background-color: #663399
  }

  .badge-bright {
    color: #000;
    background-color: #ffc125
  }

}

.theme-wp {

  .badge, .badge-primary {
    background-color: #488aff;
    color: #fff
  }

  .badge {
    border-radius: 0
  }

  .badge-secondary {
    color: #fff;
    background-color: #32db64
  }

  .badge-danger {
    color: #fff;
    background-color: #f53d3d
  }

  .badge-light {
    color: #000;
    background-color: #f4f4f4
  }

  .badge-dark {
    color: #fff;
    background-color: #222
  }

  .badge-energized {
    color: #000;
    background-color: #ffc527
  }

  .badge-royal {
    color: #fff;
    background-color: #7e60ff
  }

  .badge-subtle {
    color: #fff;
    background-color: #444
  }

  .badge-vibrant {
    color: #fff;
    background-color: #663399
  }

  .badge-bright {
    color: #000;
    background-color: #ffc125
  }

}