

input, textarea {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%
}

input :focus {
  outline: 0
}

.item-input input, .item-input textarea {
  position: static
}

.item.item-textarea {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.text-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 92%;
  width: calc(100% - 10px);
  border: 0;
  background: 0 0
}

//.searchbar-input, button.swiper-pagination-bullet {
//  -moz-appearance: none;
//  -ms-appearance: none;
//  -webkit-appearance: none
//}

.text-input::-moz-placeholder {
  color: #999
}

.text-input:-ms-input-placeholder {
  color: #999
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: #999
}

textarea.text-input {
  display: block
}

.text-input[disabled] {
  opacity: .4
}

input.text-input:-webkit-autofill {
  background-color: transparent
}

.input-cover {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  touch-action: manipulation
}

.input[disabled] .input-cover {
  pointer-events: none
}

.input-has-focus .input-cover, .item-input-has-focus .input-cover {
  display: none
}

.input-has-focus, .item-input-has-focus {
  pointer-events: none
}

.input-has-focus a, .input-has-focus button, .input-has-focus input, .input-has-focus textarea, .item-input-has-focus a, .item-input-has-focus button, .item-input-has-focus input, .item-input-has-focus textarea {
  pointer-events: auto
}

.input-clear {
  position: absolute;
  z-index: 3;
}

.item-label-floating .input-wrapper, .item-label-stacked .input-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.item-label-floating .select, .item-label-stacked .select {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  max-width: 100%
}

.theme-ios {
  .text-input {
    margin: 11px 8px 11px 0;
    padding: 0;
    width: calc(100% - 8px)
  }

  .input .inset-input {
    padding: 5.5px 8px;
    margin: 5.5px 16px 5.5px 0
  }

  .item.item-label-floating .text-input, .item.item-label-stacked .text-input {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% - 8px)
  }

  .item.item-label-floating .label + .input + .cloned-input, .item.item-label-stacked .label + .input + .cloned-input {
    margin-left: 0
  }

  .item-label-floating .select, .item-label-stacked .select {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px
  }

  .label + .input + .cloned-input, .label + .input .text-input, .label + .textarea .text-input {
    margin-left: 16px;
    width: calc(100% - (16px / 2) - 16px)
  }

  .input-clear {
    position: absolute;
    top: 14px;
    right: 8px;

    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M403.1,108.9c-81.2-81.2-212.9-81.2-294.2,0s-81.2,212.9,0,294.2c81.2,81.2,212.9,81.2,294.2,0S484.3,190.1,403.1,108.9z%20M352,340.2L340.2,352l-84.4-84.2l-84,83.8L160,339.8l84-83.8l-84-83.8l11.8-11.8l84,83.8l84.4-84.2l11.8,11.8L267.6,256L352,340.2z'/></svg>");
    background-size: 15px;
    background-repeat: no-repeat;
    visibility: hidden;
    &.activated {
      visibility: visible;

      ~ .text-input {
        padding-right: 15px
      }
    }
  }

  .item.item-label-floating .input-clear , .item.item-label-stacked .input-clear {
    top: 14px + 28px;
  }

}

.theme-md {

  .text-input {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px)
  }

  .input .inset-input {
    padding: 6.5px 8px;
    margin: 6.5px 16px
  }

  .item-label-floating .text-input, .item-label-stacked .text-input {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% - 8px)
  }

  .item-label-floating .select, .item-label-stacked .select {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px
  }

  .item.item-input.input-has-focus .item-inner, .item.item-input.item-input-has-focus .item-inner, .list .item-input.input-has-focus:last-child, .list .item-input.item-input-has-focus:last-child {
    border-bottom-color: #488aff;
    -webkit-box-shadow: inset 0 -1px 0 0 #488aff;
    box-shadow: inset 0 -1px 0 0 #488aff
  }

  .list .item-input.input-has-focus:last-child .item-inner, .list .item-input.item-input-has-focus:last-child .item-inner {
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .input-clear {
    position: absolute;
    top: 14px;
    right: 8px;

    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><polygon%20fill='%235b5b5b'%20points='405,136.798%20375.202,107%20256,226.202%20136.798,107%20107,136.798%20226.202,256%20107,375.202%20136.798,405%20256,285.798%20375.202,405%20405,375.202%20285.798,256'/></svg>");
    background-size: 18px;
    background-repeat: no-repeat;
    visibility: hidden;
    &.activated {
      visibility: visible;

      ~ .text-input {
        padding-right: 20px
      }
    }
  }

}

.theme-wp {

  .text-input {
    margin: 13px 8px;
    padding: 0 8px;
    width: calc(100% - 8px - 8px);
    border: 2px solid rgba(0, 0, 0, .5);
    line-height: 3rem
  }

  .item .inset-input {
    padding: 6.5px 8px;
    margin: 6.5px 16px
  }

  .item.item-input.input-has-focus .text-input, .item.item-input.item-input-has-focus .text-input {
    border-color: #488aff
  }

  .item-label-floating .select, .item-label-floating .text-input, .item-label-stacked .select, .item-label-stacked .text-input {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% - 8px)
  }

  .item.item-label-floating .item-end, .item.item-label-floating .item-right, .item.item-label-stacked .item-end, .item.item-label-stacked .item-right {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
  }


  .label.stacked {
    font-size: 1.2rem
  }

  .input-clear {
    position: absolute;
    top: 14px;
    right: 8px;

    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><polygon%20fill='rgba(0,%200,%200,%200.5)'%20points='405,136.798%20375.202,107%20256,226.202%20136.798,107%20107,136.798%20226.202,256%20107,375.202%20136.798,405%20256,285.798%20375.202,405%20405,375.202%20285.798,256'/></svg>");
    background-size: 18px;
    background-repeat: no-repeat;
    visibility: hidden;
    &.activated {
      visibility: visible;

      ~ .text-input {
        padding-right: 20px
      }
    }
  }

}


.label {
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
}

.label.fixed {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px;
  min-width: 100px;
  max-width: 200px
}

.item-input .label {
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  max-width: 200px;
  pointer-events: none
}

.item-label-floating .label, .item-label-stacked .label {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: auto;
  max-width: 100%
}

.label.floating, .label.stacked {
  margin-bottom: 0
}

.theme-ios {

  .label {
    margin: 11px 8px 11px 0
  }

  .label + .input + .cloned-input, .label + .input .text-input, .label + .textarea .text-input {
    margin-left: 16px;
    width: calc(100% - (16px / 2) - 16px)
  }

  .label.stacked {
    margin-bottom: 4px;
    font-size: 1.2rem
  }

  .label.floating {
    margin-bottom: 0;
    -webkit-transform: translate3d(0, 27px, 0);
    transform: translate3d(0, 27px, 0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out
  }

  .input-has-focus .label.floating, .input-has-value .label.floating, .item-input-has-focus .label.floating, .item-input-has-value .label.floating {
    -webkit-transform: translate3d(0, 0, 0) scale(.8);
    transform: translate3d(0, 0, 0) scale(.8)
  }

  .item.item-label-floating .item-end, .item.item-label-floating .item-right, .item.item-label-stacked .item-end, .item.item-label-stacked .item-right {
    margin-top: 6px;
    margin-bottom: 6px
  }

  .item-datetime .label-primary, .item-input .label-primary, .item-select .label-primary, .label-primary {
    color: #488aff
  }

  .item-datetime .label-secondary, .item-input .label-secondary, .item-select .label-secondary, .label-secondary {
    color: #32db64
  }

  .item-datetime .label-danger, .item-input .label-danger, .item-select .label-danger, .label-danger {
    color: #f53d3d
  }

  .item-datetime .label-light, .item-input .label-light, .item-select .label-light, .label-light {
    color: #f4f4f4
  }

  .item-datetime .label-dark, .item-input .label-dark, .item-select .label-dark, .label-dark {
    color: #222
  }

  .item-datetime .label-energized, .item-input .label-energized, .item-select .label-energized, .label-energized {
    color: #ffc527
  }

  .item-datetime .label-royal, .item-input .label-royal, .item-select .label-royal, .label-royal {
    color: #7e60ff
  }

  .item-datetime .label-subtle, .item-input .label-subtle, .item-select .label-subtle, .label-subtle {
    color: #444
  }

  .item-datetime .label-vibrant, .item-input .label-vibrant, .item-select .label-vibrant, .label-vibrant {
    color: #663399
  }

  .item-datetime .label-bright, .item-input .label-bright, .item-select .label-bright, .label-bright {
    color: #ffc125
  }

}

.theme-md {

  .label {
    margin: 13px 8px 13px 0
  }

  [text-wrap] .label {
    font-size: 1.4rem;
    line-height: 1.5
  }

  .label.stacked {
    font-size: 1.2rem
  }

  .item-datetime .label, .item-input .label, .item-select .label {
    color: #999
  }

  .input-has-focus .label.floating, .input-has-focus .label.stacked, .item-datetime .label-primary, .item-input .label-primary, .item-input-has-focus .label.floating, .item-input-has-focus .label.stacked, .item-select .label-primary, .label-primary {
    color: #488aff
  }

  .label.floating {
    -webkit-transform: translate3d(0, 27px, 0);
    transform: translate3d(0, 27px, 0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out
  }

  .label.floating, .label.stacked {
    margin-left: 0;
    margin-bottom: 0
  }

  .input-has-focus .label.floating, .input-has-value .label.floating, .item-input-has-focus .label.floating, .item-input-has-value .label.floating {
    -webkit-transform: translate3d(0, 0, 0) scale(.8);
    transform: translate3d(0, 0, 0) scale(.8)
  }

  .item-md.item-label-floating .item-end, .item-md.item-label-floating .item-right, .item-md.item-label-stacked .item-end, .item-md.item-label-stacked .item-right {
    margin-top: 7px;
    margin-bottom: 7px
  }

  .item-datetime .label-secondary, .item-input .label-secondary, .item-select .label-secondary, .label-secondary {
    color: #32db64
  }

  .item-datetime .label-danger, .item-input .label-danger, .item-select .label-danger, .label-danger {
    color: #f53d3d
  }

  .item-datetime .label-light, .item-input .label-light, .item-select .label-light, .label-light {
    color: #f4f4f4
  }

  .item-datetime .label-dark, .item-input .label-dark, .item-select .label-dark, .label-dark {
    color: #222
  }

  .item-datetime .label-energized, .item-input .label-energized, .item-select .label-energized, .label-energized {
    color: #ffc527
  }

  .item-datetime .label-royal, .item-input .label-royal, .item-select .label-royal, .label-royal {
    color: #7e60ff
  }

  .item-datetime .label-subtle, .item-input .label-subtle, .item-select .label-subtle, .label-subtle {
    color: #444
  }

  .item-datetime .label-vibrant, .item-input .label-vibrant, .item-select .label-vibrant, .label-vibrant {
    color: #663399
  }

  .item-datetime .label-bright, .item-input .label-bright, .item-select .label-bright, .label-bright {
    color: #ffc125
  }

}

.theme-wp {

  .label {
    margin: 13px 8px 13px 0
  }

  .label.stacked {
    font-size: 1.2rem
  }

  .item-datetime .label, .item-input .label, .item-select .label {
    color: #999
  }

  .input-has-focus .label.floating, .input-has-focus .label.stacked, .item-datetime .label-primary, .item-input .label-primary, .item-input-has-focus .label.floating, .item-input-has-focus .label.stacked, .item-select .label-primary, .label-primary {
    color: #488aff
  }

  .label.floating {
    -webkit-transform: translate3d(8px, 34px, 0);
    transform: translate3d(8px, 34px, 0);
    -webkit-transform-origin: left top;
    transform-origin: left top
  }

  .label.floating, .label.stacked {
    margin-left: 0;
    margin-bottom: 0
  }

  .input-has-focus .label.floating, .input-has-value .label.floating, .item-input-has-focus .label.floating, .item-input-has-value .label.floating {
    -webkit-transform: translate3d(0, 0, 0) scale(.8);
    transform: translate3d(0, 0, 0) scale(.8)
  }

  .item-wp.item-label-floating .item-end, .item-wp.item-label-floating .item-right, .item-wp.item-label-stacked .item-end, .item-wp.item-label-stacked .item-right {
    margin-top: 13px;
    margin-bottom: 13px
  }

  .item-datetime .label-secondary, .item-input .label-secondary, .item-select .label-secondary, .label-secondary {
    color: #32db64
  }

  .item-datetime .label-danger, .item-input .label-danger, .item-select .label-danger, .label-danger {
    color: #f53d3d
  }

  .item-datetime .label-light, .item-input .label-light, .item-select .label-light, .label-light {
    color: #f4f4f4
  }

  .item-datetime .label-dark, .item-input .label-dark, .item-select .label-dark, .label-dark {
    color: #222
  }

  .item-datetime .label-energized, .item-input .label-energized, .item-select .label-energized, .label-energized {
    color: #ffc527
  }

  .item-datetime .label-royal, .item-input .label-royal, .item-select .label-royal, .label-royal {
    color: #7e60ff
  }

  .item-datetime .label-subtle, .item-input .label-subtle, .item-select .label-subtle, .label-subtle {
    color: #444
  }

  .item-datetime .label-vibrant, .item-input .label-vibrant, .item-select .label-vibrant, .label-vibrant {
    color: #663399
  }

  .item-datetime .label-bright, .item-input .label-bright, .item-select .label-bright, .label-bright {
    color: #ffc125
  }

}



.item-cover {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  cursor: pointer
}
