
.item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px
}

.item h2 {
  margin: 0 0 2px 0;
  font-size: 16px;
  font-weight: normal
}

.item h3 {
  margin: 0 0 4px 0;
  font-size: 14px
}

.item h4 {
  margin: 0 0 4px 0;
  font-size: 12px
}

.item h5, .item h6 {
  margin: 0 0 3px 0;
  font-size: 10px
}

.item p {
  color: #666;
  font-size: 14px;
  margin-bottom: 2px
}

.item h1:last-child, .item h2:last-child, .item h3:last-child, .item h4:last-child, .item h5:last-child, .item h6:last-child, .item p:last-child {
  margin-bottom: 0
}

.item .badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 16px;
  right: 32px
}

.item.item-divider .badge {
  top: 8px
}

.item .badge + .badge {
  margin-right: 5px
}

.item.item-stable {
  border-color: #b2b2b2;
  background-color: #f5f5f5;
  color: #444
}


.list-borderless .item, .item-borderless {
  border-width: 0
}

.item.active, .item.activated {
  border-color: #ccc;
  background-color: #D9D9D9
}

.item.active.item-stable, .item.activated.item-stable {
  border-color: #a2a2a2;
  background-color: #e5e5e5
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.item-icon-left .icon, .item-icon-right .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 32px
}

.item-icon-left .icon:before, .item-icon-right .icon:before {
  display: block;
  width: 32px;
  text-align: center
}

.item-icon-left {
  padding-left: 54px
}

.item-icon-left .icon {
  left: 11px
}

.item-icon-right {
  padding-right: 54px
}

.item-icon-right .icon {
  right: 11px
}

.item-icon-left.item-icon-right .icon:first-child {
  right: auto
}

.item-avatar, .item-avatar-left {
  padding-left: 72px;
  min-height: 72px
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%
}

.item-avatar-right {
  padding-right: 72px;
  min-height: 72px
}

.item-avatar-right > img:first-child {
  position: absolute;
  top: 16px;
  right: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%
}

.item-image {
  padding: 0;
  text-align: center
}

.item-image img:first-child, .item-image .list-img {
  width: 100%;
  vertical-align: middle
}

.item-divider {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: 500
}

.item-note {
  float: right;
  color: #aaa;
  font-size: 14px
}

// reset item style
.item {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 14px;
  color: #444;
  min-height: 50px;

  &.item-divider {
    padding: 18px 16px;
    border: none;
    margin-top: 1px;
  }

  &.item-icon-left, &.item-icon-right {
    .icon {
      font-size: 24px;
    }
  }

  &.item-icon-right {
    .item-note {
      margin-right: -16px;
    }

    .icon.ion-ios-arrow-right {
      color: #DDD;
      right: 5px;
      height: 48px;
    }
  }
}

.theme-ios {
  .item {
    padding-top: 17px;
    padding-bottom: 18px;

    &.item-divider {
      padding: 17px 16px 18px 16px;
    }
  }
}

.list-ios {
  padding-top: 2px !important;
  padding-left: 16px;
  background: #FFF;
}

.item-ios,
.list-ios > .item,
{
  padding-left: 0;

  &.item-avatar {
    min-height: 80px;
    padding: 18px 16px 18px 58px;

    img:first-of-type {
      top: 16px;
      left: 0;
      min-width: 48px;
      min-height: 48px;
    }

    .title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 6px;
    }

    .item-note {
      float: left;
    }
  }
}

.theme-ios {
  .item-ios, .list-ios > .item {
    &.item-avatar {
      padding: 17px 16px 18px 58px;
    }
  }
}

.item.thin, .item[thin] {
  min-height: 36px;
  padding-top: 11px;
  padding-bottom: 11px;
}
