@import "variables";
@import "mixins";

@mixin view-right() {
  @include translate3d(100%, 0, 0);
}

@mixin view-left() {
  @include translate3d(-33%, 0, 0);
}

@mixin view-center() {
  @include translate3d(0, 0, 0);
}

.page-enter-active,
.page-leave-active,
.theme-ios .page-enter-active,
.theme-ios .page-leave-active
{
  @include transition-duration($ios-transition-duration);
  @include transition-timing-function($ios-transition-timing-function);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
}

.theme-md .page-enter-active,
.theme-md .page-leave-active
{
  @include transition-duration($android-transition-duration);
  @include transition-timing-function($android-transition-timing-function);
}

[transition-direction="forward"] {
  .page-enter {
    @include view-right();
    opacity: 1;
    z-index: 2;
  }
  .page-enter-active {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
  }
  .page-enter-to {
    @include view-center();
    opacity: 1;
    z-index: 2;
  }
  .page-leave {
    @include view-center();
    opacity: 0.8;
    z-index: 1;
  }
  .page-leave-to {
    @include view-left();
    opacity: 0;
    z-index: 1;
  }
}

[transition-direction="back"] {
  .page-enter {
    @include view-left();
    opacity: 0.8;
    z-index: 1;
  }
  .page-enter-to {
    @include view-center();
    opacity: 1;
    z-index: 1;
  }
  .page-leave {
    @include view-center();
    opacity: 1;
    z-index: 2;
  }
  .page-leave-active {
    box-shadow: 0 0 10px rgba(0,0,0,.15);
  }
  .page-leave-to {
    @include view-right();
    opacity: 1;
    z-index: 2;
  }
}


[nav-view-transition="ios"] [nav-view="entering"], [nav-view-transition="ios"] [nav-view="leaving"] {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  -webkit-transition-property: opacity, -webkit-transform, box-shadow;
  transition-property: opacity, transform, box-shadow
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
  background-color: #000
}

[nav-view-transition="ios"] [nav-view="active"], [nav-view-transition="ios"][nav-view-direction="forward"] [nav-view="entering"], [nav-view-transition="ios"][nav-view-direction="back"] [nav-view="leaving"] {
  z-index: 3
}

[nav-view-transition="ios"][nav-view-direction="back"] [nav-view="entering"], [nav-view-transition="ios"][nav-view-direction="forward"] [nav-view="leaving"] {
  z-index: 2
}

[nav-bar-transition="ios"] .title, [nav-bar-transition="ios"] .buttons, [nav-bar-transition="ios"] .back-text {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform
}

[nav-bar-transition="ios"] [nav-bar="active"], [nav-bar-transition="ios"] [nav-bar="entering"] {
  z-index: 10
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background: transparent
}

[nav-bar-transition="ios"] [nav-bar="cached"] {
  display: block
}

[nav-bar-transition="ios"] [nav-bar="cached"] .header-item {
  display: none
}

[nav-view-transition="android"] [nav-view="entering"], [nav-view-transition="android"] [nav-view="leaving"] {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform
}

[nav-view-transition="android"] [nav-view="active"], [nav-view-transition="android"][nav-view-direction="forward"] [nav-view="entering"], [nav-view-transition="android"][nav-view-direction="back"] [nav-view="leaving"] {
  z-index: 3
}

[nav-view-transition="android"][nav-view-direction="back"] [nav-view="entering"], [nav-view-transition="android"][nav-view-direction="forward"] [nav-view="leaving"] {
  z-index: 2
}

[nav-bar-transition="android"] .title, [nav-bar-transition="android"] .buttons {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity
}

[nav-bar-transition="android"] [nav-bar="active"], [nav-bar-transition="android"] [nav-bar="entering"] {
  z-index: 10
}

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
  background: transparent
}

[nav-bar-transition="android"] [nav-bar="cached"] {
  display: block
}

[nav-bar-transition="android"] [nav-bar="cached"] .header-item {
  display: none
}

